/* antd override*/
input{
  border-radius:2px  !important;
  border: 1px solid gray !important;
  height:40px !important;
}
input:focus{
  outline:none !important;
  box-shadow: none !important;
  border:1px solid gray !important;
}
label{
  font-size:16px !important;
  color:black !important;
}
.ant-form-item{
  margin:10px 0 !important;
}


/* common styling */

.card-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text{
  font-size: 1rem;
}

.card{
  box-shadow:0 0 2px gray;
  border-radius: 0 !important;
}

.primary-button{
  background-color: #1D9BF0;
  border-color:#1D9BF0 ;
  height:40px !important;
  width:100% !important;
  color:white;
  font-size: 16px !important;
}

.anchor{
  color: black !important;
  text-decoration: underline;
  font-size: 16px;;

}

.anchor:hover{
  text-decoration:underline !important ;
}

/* authentication pages */

.authentication{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication-form{
  width:400px;

}